.app{
    text-align: center;
    margin: 50px 400px auto;    
}

.box{
    width: 250px;
    margin: 10px ;
    border-radius: 10px;
    box-shadow: rgba(53,6,6,0.8) 0px 1px 4px;
    padding: 10px;
}

h2{
   padding-bottom: 10px;
}

.box button{
    margin-right: 5px;
}

.small-box{
    width: 200px;
    margin: 30px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(53,6,6,0.8) 0px 1px 4px;
    padding: 10px;
  }

  .small-box2{
    width: 150px;
    margin: 30px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(53,6,6,0.8) 0px 1px 4px;
    padding: 10px;
  }